:root {
  --very-dark-blue: hsl(243, 87%, 12%);
  --desaturated-blue: hsl(238, 22%, 44%);

  --bright-blue: hsl(224, 93%, 58%);
  --moderate-cyan: hsl(170, 45%, 43%);

  --light-grayish-blue: hsl(240, 75%, 98%);
  --light-gray: hsl(0, 0%, 75%);
  --font-raleway: "Raleway", sans-serif;
  --font-openSans: "Open Sans", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

/* HEADER */
header {
  width: 85%;
  margin: 25px auto 0;
  display: flex;
  justify-content: space-between;
  font-family: var(--font-raleway);
}
.logo-container {
  width: 50%;
}
.logo-container img {
  width: 50%;
  min-width: 75px;
  max-width: 150px;
}
.menu-container {
  width: 50%;
}
.menu {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu__item {
  list-style: none;
}
.menu__item a {
  text-decoration: none;
  font-size: 1.2rem;
  color: var(--very-dark-blue);
}

/* MAIN */
main {
  width: 85%;
  margin: 85px auto 0;
  display: flex;
  flex-direction: column;
  font-family: var(--font-openSans);
}
/* HERO */

.hero-container {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  text-align: center;
}
.hero__imageContainer {
  margin: 0 auto;
  width: 90%;
  min-width: 75px;
}
.hero__imageContainer img {
  width: 100%;
  object-fit: cover;
}
.hero__description-container {
  padding-top: 50px;
}
.hero__description {
  font-size: 2.4rem;
  color: var(--very-dark-blue);
  font-weight: bold;
}
.hero__details {
  padding-top: 20px;
  font-size: 1.5rem;
  line-height: 2.3rem;
  color: var(--very-dark-blue);
}
.get-started {
  padding-top: 30px;
  flex-direction: column;
}
.get-started input {
  padding: 12px;
  width: 100%;
  outline: none;
  border: 1px solid var(--light-gray);
  border-radius: 5px;
}
.get-started__submit {
  border: none;
  margin-top: 12px;
  background-color: var(--bright-blue);
  font-family: var(--font-raleway);
  font-size: 1.4rem;
  font-weight: bold;
  letter-spacing: 1px;
  color: white;
}

/* PRODUCT */
.product {
  margin-top: 20px;
  display: flex;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
